#visual pro Stuffs files 
/Debug
/x64
/.vs
/CppWinForm1/.vs
/CppWinForm1/Debug
/CppWinForm1/x64

#sdf file too big
*.sdf

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
